<div class="container" role="main">
      <div class="theme-showcase" role="main">


  <div class="right-info">
    <h1>Welcome To T-Recruit!</h1>
  </div>

  <br>
  <%= button_to "Sign In With Google", '/auth/google_oauth2'%>
  