<h1> All Jobs </h1>
<% @jobs.each do |j| %>
<%= j.title%>
<%= j.description%>
<% end%>
<br>
<h3>by: <%= link_to job.recruiter.name, recruiter_jobs_path(job.recruiter) %></h3>
<%= link_to "New Job", new_job_path(@job) %>