<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field_with_errors">
  <input id="user_username" name="user[username]" size="30" type="text" value="">
</div>

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}